<configuration>
    <conversionRule conversionWord="coloredLevel" converterClass="play.api.Logger$ColoredLevel" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder><pattern>%coloredLevel %logger{25} - %message%n%xException{5}</pattern></encoder>
    </appender>

    <logger name="play" level="ERROR" />
    <logger name="application" level="OFF" />
    <logger name="assets.loader" level="TRACE" />
    <logger name="it.spec" level="TRACE" />

    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>