@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>

        @com.ee.assets.Loader.scripts("javascripts/sample/one")

        <script type="text/javascript">
         helloWorld(" are you there?");
         </script>

    </head>
    <body>
    </body>
</html>
