/* i'm some css */
body{
    background-color: #99ff99;
    font-size: 10px;
    font-family: san-serif;
}
html {
    background-color: #99ff99;
    font-size: 10px;
    font-family: san-serif;
}
div {
    background-color: #99ff99;
    font-size: 10px;
    font-family: san-serif;
}
.my-class{
    background-color: #99ff99;
    font-size: 10px;
    font-family: san-serif;
}
h1{
    background-color: #99ff99;
    font-size: 10px;
    font-family: san-serif;
}
h2{
    background-color: #99ff99;
    font-size: 10px;
    font-family: san-serif;
}
